body {
    background-color: #eabf75;
}
@font-face {
    font-family: nipey;
    src: url(../css/fonts/nipey-webfont.svg);
    src: url(../css/fonts/nipey-webfont.woff);
    src: url(../css/fonts/nipey-webfont.woff2);
}
#autocomplete_container {
    width: 100%;
    text-align: center;
    height: 94px;
    margin: auto;
    background-color: transparent;
    /*margin-top: 50px;*/
}
#header_container{
  width: 100%;
  text-align: center;
  height: 20px;
  margin: auto;
  background-color: transparent;
  margin-top: 100px;
  font-family: 'nipey', serif !important;
  font-size: 50px;
  color: #990000;
  font-style: normal;
}
#autocomplete {
    font-size: 1.1em;
    font-family: 'Montserrat', Arial, sans-serif;
    width: 360px;
    height: 54px;
    background-color: #fff;
    outline: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: 18px;
    border: 1px outset #990000;
    text-align: center;
}
.pac-container:after {
    content: none !important;
}

.pac-item:hover {
    background-color: #edefed;
    color: #5a5a5a;
}

.pac-item-query:hover {
    color: #fff;
}

#autocomplete-results {
  width: 320px;
  text-align: center;
  margin: 0 auto;
  background: white;
  border: 1px solid grey;
}

.option-a{
  text-decoration: none;
  padding: 1em;
  margin: 0 auto;
  font-size: 1.2em;
  color: #623B5A;
}

.option-li{
  width: 320px;
  list-style-type: none;
}

#autocomplete-results:hover {
    background-color: focus-overlay;
}

@media only screen and (max-width: 500px) {
    #autocomplete_btn {
        margin-top: 20px;
    }
    #autocomplete {
        width: 300px;
    }
    #autocomplete-results{
      width: 260px;

    }
    .option-li{
      margin: 0 -47px;
      text-align: center;
    }
}

#formContainer1{
  margin-top: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#gender,#align{
  display: flex;
  justify-content: center;

}
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}
input[type=radio]:not(old):checked + label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}
